@media  (max-width: 1300px) {
    span{
        display: none;
    }

    .sidebarP{
        width: 0%;
    }
  }


  .sidebarP{
    color: white;
    width: 100%;
  }
  
  #sidebarP{
    background-color: rgb(67, 65, 65);
  }
  
  .sidebarP:hover{
    cursor: pointer;
  }
  