
::-webkit-scrollbar{
  display: none;
}

.headerH1{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: bolder;
}



.search{
  background-color: transparent;
  border: 1px solid grey;
  color: black;
}

.search::placeholder{
  color: white;
}
